<div class="review-card">
  <a href="/review/delete/{{_id}}"><img class="option-buttons" src="/images/delete.png" alt="Delete button"> Delete review</a>
  <h4>{{title}}</h4>
  <h5>Rating: {{{displayStarEmoji stars}}}</h5>
  <p>{{comment}}</p>
  <p class="review-from">From: <a href="/profile/{{reviewer}}">{{reviewerName}}</a></p>
</div>