<div class="myRecipeCard">
  <h3>{{name}}</h3>
  <img class="recipe-images" src={{image}} alt="Dish image" />
  <p>Cuisine: {{cuisine}}</p>
  <ul>
    <li>Level: {{level}}</li>
    <li>Preparation time: {{time}} min</li>
    <li>Spiciness: {{spices}} </li>
    <li>{{pax}} servings</li>
    <li>{{kcal}} kcal</li>
  </ul>
  <a href="/recipe/{{_id}}">View more</a>
  <a href="/recipe/edit/{{_id}}">Edit this recipe</a>
</div>