<div class="reviewCard">
  <h3>Recipe rated: <a href="/recipe/{{review.recipeRated}}{{recipeRated}}">{{review.recipeName}}{{recipeName}}</a></h3>
  <h4>{{review.title}}{{title}}</h4>
  <h5>Rating: {{review.stars}}{{stars}}</h5>
  <p>{{review.comment}}{{comment}}</p>
</div>