<div class="myRecipeCard">
  <h3>{{name}}</h3>
  <p>Cuisine: {{cuisine}}</p>
  <img src={{image}} alt="Dish image" />
  <ul>
    <li>{{time}} min</li>
    <li>Servings: {{pax}}</li>
    <li>Level: {{level}}</li>
    <li>Kcal: {{kcal}}</li>
    <li>Spices: {{spices}}</li>
    <li>Lactose: {{lactose}}</li>
    <li>Gluten: {{gluten}}</li>
    <li>Meat: {{meat}}</li>
  </ul>
  <h4>Ingredients:</h4>
  <!-- this is a ul tag with li inside -->
  {{{splitIngredients ingredients}}}
  <h4>Steps:</h4>
  <!-- this is a ol tag with li inside -->
  {{{splitSteps steps}}}
</div>