<div class="my-recipe-card">
  <img class="recipe-images" src={{recipe.image}}{{image}} alt="Dish image" />
  <h3>{{recipe.name}}{{name}}</h3>
  <p>Cuisine: {{recipe.cuisine}}{{cuisine}}</p>
  <p>Level: {{recipe.level}}{{level}}</p>
  <p>{{recipe.kcal}}{{kcal}} kcal</p>
  <hr class="bigger-hr">
  <ul class="recipe-summary">
    <div class="recipe-logos">
      <img src="/images/clock.png" alt="Clock logo" />
      <li>{{recipe.time}}{{time}} min</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/flame.png" alt="Flame logo" />
      <li>{{recipe.spices}}{{spices}}</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/pax.png" alt="Pax logo">
      <li>{{recipe.pax}}{{pax}}</li>
    </div>
  </ul>
  <hr class="bigger-hr">
  <div class="recipe-options">
    <a href="/recipe/{{_id}}"> > See recipe</a>
    <a href="/recipe/edit/{{_id}}"> > Edit recipe</a>
  </div>
</div>