<div class="my-recipe-card">
  <img class="recipe-images" src={{image}} alt="Dish image" />
  <div class="add-favorite-card">
    {{#if recipeInFavorites}}
      <a href="/favorites/delete/{{_id}}"><img class="fav-icon" src="/images/red-heart-icon.png"
          alt="Fav logo" /></a>
    {{else}}
      <a href="/favorites/add/{{_id}}"><img class="fav-icon" src="/images/empty-heart-icon.png"
          alt="Fav logo" /></a>
    {{/if}}
    <p class="fav-count">{{favoriteCount}}</p>
  </div>
  <h3>{{name}}</h3>
  <p>Cuisine: {{cuisine}}</p>
  <p>Level: {{level}}</p>
  <p>{{kcal}} kcal</p>
  <hr class="small-hr">
  <ul class="recipe-summary">
    <div class="recipe-logos">
      <img src="/images/clock.png" alt="Clock logo" />
      <li>{{time}} min</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/flame.png" alt="Flame logo" />
      <li>{{spices}}</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/pax.png" alt="Pax logo">
      <li>{{pax}}</li>
    </div>
  </ul>
  <hr class="small-hr">
  <div class="recipe-options">
    <a  class="recipe-button" href="/recipe/{{_id}}"> > See recipe</a>
    <a  class="recipe-button" href="/recipe/edit/{{_id}}">> Edit recipe</a>
  </div>
</div>