<div class="recipeCard">
  <h4>{{recipe.name}}{{name}}</h4>
  <img src={{recipe.image}}{{image}} alt="Dish image" />
  <p>Cuisine: {{recipe.cuisine}}{{cuisine}}</p>
  <ul>
    <li>Level: {{recipe.level}}{{level}}</li>
    <li>Preparation time: {{recipe.time}}{{time}} min</li>
    <li>Spiciness: {{recipe.spices}}{{spices}} </li>
    <li>{{recipe.pax}}{{pax}} servings</li>
    <li>{{recipe.kcal}}{{kcal}} kcal</li>
  </ul>
  <a href="/recipe/{{recipe._id}}{{_id}}">View more</a>
</div>