<div class="recipeCard">
  <img src={{image}} alt="Dish image" />
  <h4>{{name}}</h4>
  <p>Cuisine: {{cuisine}}</p>
  <ul>
    <li>{{time}} min</li>
    <li>Level: {{level}}</li>
    <li>Servings: {{pax}}</li>
    <li>Kcal: {{kcal}}</li>
    <li>Created by: {{username}}</li>
  </ul>
  <a href="/recipe/:{{_id}}/detail">View more</a>
</div>
