<div class="recipeCard">
  <img src="{{this.image}}" alt="Dish image" />
  <h4>{{this.name}}</h4>
  <p>Cuisine: {{this.cuisine}}</p>
  <ul>
    <li>{{this.time}} min</li>
    <li>Level: {{ths.level}}</li>
    <li>Servings: {{this.pax}}</li>
    <li>Kcal: {{this.kcal}}</li>
    <li>Created by: {{this.username}}</li>
  </ul>
</div>
