<div class="recipeCard">
  <h4>{{name}}</h4>
  <img src={{image}} alt="Dish image" />
  <p>Cuisine: {{cuisine}}</p>
  <ul>
    <li>Level: {{level}}</li>
    <li>Preparation time: {{time}} min</li>
    <li>Spiciness: {{spices}}</li>
    <li>{{pax}} servings</li>
    <li>{{kcal}} kcal</li>
  </ul>
  <a href="/recipe/{{_id}}/detail">View more</a>
</div>