<h1 class="home-title"><p>Welcome {{user.firstName}}</p></h1>

<div class="slideshow">
  {{#each recipe}}
    <div class="slide">
      <img src="{{this.image}}" alt="{{this.name}}">
    </div>
  {{/each}}
</div>
<script>
  const slides = document.querySelectorAll(".slide");
  let index = 0;
  slides[index].classList.add("active");
  function showSlide() {
    slides[index].classList.remove("active");
    slides[index].classList.add("prev");
    index++;
    if (index >= slides.length)
    {
      index = 0;
    }
    slides[index].classList.add("active");
    slides[index].classList.remove("prev");
  }
  setInterval(showSlide, 3000);
</script>

{{#eq user.username "admin"}}
<p class="admin-phrase">Remember to perform the daily reviews checkup.</p>
{{else}}
  <div class="phrase-container">
    <img src="/images/Menu-frame.png" alt="Phrase-background-img">
    <div class="catch-phrase"><q>{{catchPhrase}} <br><span>{{catchAuthor}}</span></q></div>
  </div>
{{/eq}}