<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>Food Folio</title>
</head>
<body>
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>
    <div class="overlay"></div>
    <ul class="menu__box">
      {{#if user}}
      {{#eq user.username "admin"}}
      <li><a class="menu__item" href="/review/all">All reviews</a></li>
      <li><a class="menu__item" href="/auth/logout">Log out</a></li>
      {{else}}
      <li><a class="menu__item" href="/recipe/all">All recipes</a></li>
      <li><a class="menu__item" href="/recipe/my-recipes">My recipes</a></li>
      <li><a class="menu__item" href="/recipe/new">Add a recipe</a></li>
      <li><a class="menu__item" href="/review/my-reviews">My reviews</a></li>
      <li><a class="menu__item" href="/auth/logout">Log out</a></li>
      {{/eq}}
      {{else}}
      <li><a class="menu__item" href="/recipe/all">All recipes</a></li>
      <li><a class="menu__item" href="/auth/signup">Sign up</a></li>
      <li><a class="menu__item" href="/auth/login">Log in</a></li>
      {{/if}}
      <p class="menu-phrase">Food Folio, powered by Patri and Joandi</p>
      <hr class="small-hr">
    </ul>
  </div>
  <img class="folio-icon" src="/images/app-logo.png" alt="FoodFolio icon">
  <main>
    {{{ body }}}
  </main>
  <footer>
    <nav>
      <ul>
        {{#if user}}
        {{#eq user.username "admin"}}
          <li class="home-icon"><a href="/"><img src="/images/home-icon.png"></a></li>
          <li><a href="/recipe/search"><img src="/images/search-icon.png"></a></li>
          <li><a href="/profile"><img src="/images/chef-icon.png"></a></li>
        {{else}}
          <li class="home-icon"><a href="/"><img src="/images/home-icon.png"></a></li>
          <li class="home-icon"><a href="/recipe/random"><img src="/images/random-recipe.png"></a></li>
          <li><a href="/recipe/search"><img src="/images/search-icon.png"></a></li>
          <li><a href="/favorites"><img src="/images/heart-icon-navbar.png"></a></li>
          <li><a href="/profile"><img src="/images/chef-icon.png"></a></li>
        {{/eq}}
        {{else}}
          <li class="home-icon"><a href="/"><img src="/images/home-icon.png"></a></li>
          <li class="home-icon"><a href="/recipe/random"><img src="/images/random-recipe.png"></a></li>
          <li><a href="/recipe/search"><img src="/images/search-icon.png"></a></li>
        {{/if}}
      </ul>
    </nav>
  </footer>
</body>
</html>