<div class="recipeDetail">
  <h3>{{recipe.name}}</h3>
  <p>Cuisine: {{recipe.cuisine}}</p>
  <img src={{recipe.image}} alt="Dish image" />
  <ul>
    <li>{{recipe.time}} min</li>
    <li>Servings: {{recipe.pax}}</li>
    <li>Level: {{recipe.level}}</li>
    <li>Kcal: {{recipe.kcal}}</li>
    <li>Spices: {{srecipe.pices}}</li>
    <li>Lactose: {{recipe.lactose}}</li>
    <li>Gluten: {{recipe.gluten}}</li>
    <li>Meat: {{recipe.meat}}</li>
  </ul>
  <h4>Ingredients:</h4>
  <!-- this is a ul tag with li inside -->
    {{{splitIngredients recipe.ingredients}}}
  <h4>Steps:</h4>
  <!-- this is a ol tag with li inside -->
    {{{splitSteps recipe.steps}}}
  <p>Created by: {{username}}</p>
</div>