<button onclick="history.back()"><img class="arrow-back" src="../images/back-arrow.png" />Go back</button>
<div class="recipeDetail">
  <h3>{{recipe.name}}</h3>
  <p>Cuisine: {{recipe.cuisine}}</p>
  <img src="{{recipe.image}}" alt="Dish image" />
  <ul>
    <li>{{recipe.time}} min</li>
    <li>Servings: {{recipe.pax}}</li>
    <li>Level: {{recipe.level}}</li>
    <li>Kcal: {{recipe.kcal}}</li>
    <li>Spices: {{recipe.spices}}</li>
    <!-- as the following 3 items are booleans in DB, we need to check the value and decide what to send to front end -->
    <li>Lactose: {{#if recipe.lactose}}Yes{{else}}No{{/if}}</li>
    <li>Gluten: {{#if recipe.gluten}}Yes{{else}}No{{/if}}</li>
    <li>Meat: {{#if recipe.meat}}Yes{{else}}No{{/if}}</li>
  </ul>
  <h4>Ingredients:</h4>
  <!-- this is a ul tag with li inside -->
    {{{splitIngredients recipe.ingredients}}}
  <h4>Steps:</h4>
  <!-- this is a ol tag with li inside -->
    {{{splitSteps recipe.steps}}}
  <!-- allow this field not to be shown if user is blank -->
  {{#if user.username}}
      <p>Created by: {{user.username}}</p>
  {{/if}}
</div>