{{#if user}}
{{else}}
  {{> authOptions}}
{{/if}}

<button onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<div class="recipe-detail">
  <h2 class="titles">{{recipe.name}}</h2>
  <p>Cuisine: {{recipe.cuisine}}</p>
  <img class="recipe-images" src="{{recipe.image}}" alt="Dish image" />
  <ul class="recipe-summary">
    <div class="recipe-logos">
      <img src="/images/clock.png" alt="Clock logo" />
      <li>{{recipe.time}}{{time}} min</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/flame.png" alt="Flame logo" />
      <li>{{recipe.spices}}{{spices}}</li>
    </div>
    <div class="recipe-logos">
      <img src="/images/pax.png" alt="Pax logo">
      <li>{{recipe.pax}}{{pax}}</li>
    </div>
  </ul>
  <hr class="small-hr">
  <ul class="more-recipe-summary">
    <li>Level: {{recipe.level}}</li>
    <li>{{recipe.kcal}} kcal</li>
    <!-- as the following 3 items are booleans in DB, we need to check the value and decide what to send to front end -->
    <li>Lactose: {{#if recipe.lactose}}Yes{{else}}No{{/if}}</li>
    <li>Gluten: {{#if recipe.gluten}}Yes{{else}}No{{/if}}</li>
    <li>Meat: {{#if recipe.meat}}Yes{{else}}No{{/if}}</li>
  </ul>
  <hr class="small-hr">
  <h4>Ingredients:</h4>
  <!-- this is a ul tag with li inside -->
    {{{splitIngredients recipe.ingredients}}}
  <hr class="small-hr">
  <h4>Steps:</h4>
  <!-- this is a ol tag with li inside -->
    {{{splitSteps recipe.steps}}}
  <!-- allow this field not to be shown if user is blank -->
</div>
{{#if user}}
  <div class="recipe-options">
    <a class="recipe-button" href="/profile/{{recipe.owner}}">See more recipes from this user</a>
  </div>
{{/if}}
<hr class="bigger-hr">
<h3>Reviews</h3>
{{#if review}}
  {{#each review}}
    {{> reviewCard}}
  {{/each}}
{{else}}
<p>No reviews have been added for this recipe yet.</p>
{{/if}}
{{#if error}}
  <p style="color:rgb(218, 90, 90)">{{ error }}</p>
{{/if}}
<div class="recipe-options">
  <a class="recipe-button" href="/review/new/{{recipe._id}}">Add a review</a>
</div>